/*--------------------------------------------------------------
# Eventos
--------------------------------------------------------------*/

.evento-header {
	display: flex;
}

.evento-title{
	flex: content;
	text-align: center;
}

.evento-meta{
	margin: 2% 15%;
	display: flex;
	text-align: center;
}

.evento-fecha{
	margin: auto;
}

.evento-content{
	margin: 2% 15%;
	display: flex;
}
